<div id="search-container">
  <input id="search-text" placeholder="Youtube URL, or search term"/>
  <button id="search-button">
    <i class="fa fa-search"></i>
    <img src="assets/spinner.gif" style="display:none;"/>
  </button>
</div>
<div id="results-container">
</div>
<%= stylesheet_link_tag 'search_area' %>
<%= javascript_include_tag 'search_area' %>