<div id="background">
  <div class="search-wrapper">
    <input id="search-text" placeholder="Youtube URL"/>
    <button id="search-button">
      <i class="fa fa-search"></i>
      <img src="assets/spinner.gif" style="display:none;"/>
    </button>
  </div>
</div>
<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>