.text-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 150px;
  margin: 5%;
  font-size: 20px;
  background: #444;
  box-shadow: 10px 10px 5px #000;

  #controls-container {
    padding: 10px 0px 10px 30px;

    i {
      margin: 0px 30px 0 0;
      color: white;

      &:hover {
        color: #cc181e;
      }

      &.active {
        color: #1BA714 !important;
      }
    }

    .active {
      color: #cc181e !important;
    }
  }

  .text-field-container {
    color: #fff;
    padding-left: 30px;
    padding-top: 2px;
    display: block;

    input {
      font-size: 15px;
      display: block;
      width: 240px;
      padding-left: 10px;
    }
  }
}

#shared-container {
  position: relative;
  top: 0px;
  width: 500px;
  height: 400px;
  margin: auto;

  #prepend-text-container {
    position: relative;
    padding: 10px 20px 0px 10px;
    font-size: 14px;
    background: #444;
    color: white;
    box-shadow: 10px 10px 5px #000;

    a {
      color: #000;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: #cc181e;
        text-decoration: none;
      }
    }
  }
}



