.text-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 100px;
  margin: 5%;
  font-size: 20px;
  background: #444;
  box-shadow: 10px 10px 5px #000;

  .text-field-container {
    color: #fff;
    padding-left: 20px;
    padding-top: 2px;
    display: block;

    input {
      font-size: 15px;
      display: block;
    }
  }
}

#shared-container {
  position: relative;
  top: -25px;
  width: 500px;
  height: 400px;
  margin: auto;
}

#prepend-text-container {
  position: relative;
  padding: 10px 20px 0px 10px;
  font-size: 14px;
  background: #444;
  color: white;

  a {
    color: #000;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #cc181e;
      text-decoration: none;
    }
  }
}
