#search-container {
  position: relative;
  top: 25px;
  width: 500px;
  height: 60px;
  margin: auto;
  background-color: #444;
  box-shadow: 10px 10px 5px #000;
}

#search-text {
  width: 400px;
  height: 40px;
  padding-left: 10px;
  margin: 10px 0 10px 10px;
  font-size: 25px;
  line-height: 25px;
}

#search-button {
  float: right;
  height: 40px;
  margin: 10px 25px 10px 10px;
  background: none;

  i:active {
    transition: none !important;
    margin-top: 2px;
  }

  img {
    height: 40px;
  }

  * {
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}

#results-container {
  position: relative;
  top: 22px;
  width: 100%;
  margin: auto;
  overflow: scroll;
  text-align: center;
}

.search-iframe-container {
  min-height: 300px;

  iframe {
    z-index: -4500;
    margin: 5px auto;
    display: block;
    pointer-events: none
  }

  i {
    position: absolute;
    left: 73%;
    top: 100px;
    color: #444;
    background-color: #000;
    border-radius: 75px;
    font-size: 75px;
    width: 57px;
    height: 50px;
    padding-left: -25px;
    line-height: 56px;
    text-align: left;

    &:hover {
      color: #cc181e;
    }
  }
}

