<!DOCTYPE html>
<html>
<head>
  <title>MixTape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Lobster' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div id="background">
    </div>
    <%= yield %>

  </body>
</html>
<%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

